body {
    margin: 0px;
}

#navigatie {
    box-sizing: border-box;
    background-color: black;
}
#navigatie ul {
    text-decoration: none;
}
#navigatie ul li {
    text-decoration: none;
}
#navigatie ul li a {
    text-decoration: none;
    color: white;
}

.block {
    color: white;
    text-align: left;
    background-color: black;
    height: 250px;
    margin: 13px;
}